<!-- src/app/about/about.component.html -->
<section id="about">
<h2>Skills</h2>
<div class="skills-container">
    <div class="skill-card">
      <i class="fab fa-java skill-icon"></i>
      <h3>Java</h3>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <i class="fab fa-html5 skill-icon"></i>
      <h3>HTML</h3>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <i class="fab fa-css3-alt skill-icon"></i>
      <h3>CSS</h3>
      <p>Intermediate</p>
    </div>


    <div class="skill-card">
      <i class="fab fa-js skill-icon"></i>
      <h3>JavaScript</h3>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <i class="fab fa-node-js skill-icon"></i>
      <h3>Node.js</h3>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <i class="fas fa-database skill-icon"></i>
      <h3>PostgreSQL</h3>
      <p>Intermediate</p>
    </div>
    <div class="skill-card">
      <i class="fab fa-react skill-icon"></i>
      <h3>ReactJS</h3>
      <p>Beginner</p>
    </div>
    <div class="skill-card">
      <i class="fab fa-angular skill-icon"></i>
      <h3>Angular</h3>
      <p>Beginner</p>
    </div>
    <div class="skill-card">
      <i class="fas fa-envelope skill-icon"></i>
      <h3>Postman</h3>
      <p>Intermediate</p>
    </div>
    
  </div>
</section>

