<section id="home">
  <div class="container">
    <div class="profile">
      <img src="assets/WhatsApp Image 2024-05-22 at 6.42.05 PM-modified.png" alt="Profile Picture">
      <h1>Shaikh Mohammad Yahiya</h1>
      <div class="description-card">
        <p class="description">
          Dedicated IT professional with a Bachelor of Science degree in Information Technology from Guru Nanak College of Arts, Science, and Commerce. 
          <span>in leading teams and managing social work initiatives as the Director of the Rotary Club.</span> 
          Skilled in Java, HTML, CSS, JavaScript, Node.js, ReactJS, Angular 2.0, and PostgreSQL. Successfully developed Coupon 99.com, an online platform for buying and selling coupons, showcasing proficiency in web development technologies.
        </p>
        <a href="assets/Y resume.pdf" class="resume-button" download (click)="startDownload($event)">
          <span>👉Download Resume</span>
          <div class="spinner"></div>
        </a>
      </div>
    </div>
  </div>
</section>
